node_modules/
build/
*.so
*.dylib
*.dll
*.wasm
*.o
*.obj
target/
.DS_Store
.devtools/venv/
*.egg-info/
__pycache__/
*.pyc
*.a
*.pc
.build/
Package.resolved
bindings/python/tree_sitter_okf/queries
*.tgz
